/*Base styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#caption{
    font-weight: 700;
    max-width: auto;
    width: 100%;
    margin: 0;
}

#Dtext{
    font-weight: 700;
    padding: 3%;
    margin: 15px;
    color: white;
}



:root {
    --body-font-size: 1.6rem;
    --body-font-color: #5f5f5f;
    --body-font-family: 'Open Sans', sans-serif;
    --heading-font-family: 'Playfair Display', sans-serif;
    --light-color: #f4f4f4;
    --dark-color: #262626;
    --light-gray-color: #f2f3f7;
    --orange-color: #ec5453;
    --blue-color: #2c98f0;
    --yellow-color: #f9bf3f;
    --purple-color: #a84cb8;
    --dark-blue-color: #4054b2;
    --green-color: #A0E35A;
    --dark-orange-color: #FF8C00;
    --light-pink-color:#F08080;
}

.guide:hover{
    color: white;
    font-weight: 700;
}

.guide:active{
    color: red;
    font-weight: 700;
}

.guide{
    color: green;
    font-size: 700;
}

#men, #men2{
    border-radius: 50%;
    animation: men 7s linear infinite;

}

@keyframes men{
    0%{
        box-shadow: 0 0 70px rgba(255,0,255,35%);
    }
    50%{
        box-shadow: 0 0 70px rgba(0,0,255,50%);

    }
    70%{
        box-shadow: 0 0 40px rgba(0,255,0,70%);
    }
    90%{
        box-shadow: 0 0 40px rgba(255,0,0,90%);

    }
    100%{
        box-shadow: 0 0 40px rgba(0,0,0,100%);

    }
}


@media only screen and (max-width: 360px) and (max-width: 600px){
    .tech, .bdown{
        font-size: 15px;

    }
}

@media only screen and (max-width: 340px){
    .tech, .bdown{
        font-size: 10px;

    }
}


@media only screen and (max-height: 600px) and (max-width: 1024px){
    #IR{
        height: 400px;

    }
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font-family);
    color: var(--body-font-color);
    font-size: var(--body-font-size);
}

a{
    display: block;
    text-decoration: none;
}
/* Nagivation styles */
.hamburger-menu{
    display: none;
    border-radius: 50%;
}

.nav {
    width: 26rem;
    height: 100vh;
    background-color: var(--dark-color);
    color: var(--light-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.intro{
    font-family: var(--heading-font-family);
    text-align: center;
    margin: 5rem 0;
    line-height: 1.5;
}

.intro-heading{
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.intro-subhead {
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.nav-list{
    list-style: none;
}

.nav-item{
    position: relative;
}

.nav-item::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s cubic-bezier(.83, 0, 0.17, 1);
}

.nav-item:hover::before {
    transform: scaleX(1);
}

.nav-item:not(:last-child){
    border-bottom: 1px solid rgba(255,255,255,.05);
}

.nav-link{
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--light-color);
    padding: 1rem;
}

.social-media-wrapper {
    margin-top: auto;
    margin-bottom: 3rem;
    text-align: center;
}

.social-media-wrapper span{
    display: block;
    font-size:1.2rem;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 1rem;
}
.social-media{
    display: flex;
    justify-content: center;
}

.sm-link{
    font-size: 3.6rem;
    color: var(--light-color);
    transition: color, .5s, transform .5s;
}

.sm-link:hover{
    color: #999;
    transform: translateY(-3px);
}

.sm-link:nth-child(2){
    margin: 0 2rem;
}

.copyright-notice{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
    color: rgba(255,255,255,.5);
}

/* Main styles */
.main{
    width: calc(100% - 26rem);
    transform: translateX(26rem);
}

section:not(.hero){
    padding: 5rem 0;
}

/* Hero styles */
.hero{
    height:100vh;
    background: url("./images/hero_background.jpg") bottom center/cover;
    position: relative;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:600px){
    #home{
        height: 100%;
        width: auto;
    }
}

@media only screen and (max-width:1300px){
    #home{
        height: auto;
        width: 100%;
    }
}

@media only screen and (max-width:600px){
    #home{
        height: auto;
        width: 100%;
    }
}
.name-heading {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18vw;
    font-family: var(--heading-font-family);
    color: black;
    z-index: 1;
    user-select: none;
    animation: back-img 2s;
    opacity: 10%;
}



@keyframes back-img{
    
    0%{
        transform: translateY(0);
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18vw;
        font-family: var(--heading-font-family);
        color: black;
        z-index: 1;
        user-select: none;
        opacity: 0;
    }
    50%{
        transform: translateY(0);
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18vw;
        font-family: var(--heading-font-family);
        color: black;
        z-index: 1;
        user-select: none;
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 0;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18vw;
        font-family: var(--heading-font-family);
        color: var(--light-color);
        z-index: 1;
        user-select: none;
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 0;
    }
}

.hero-person-image{
    max-width: 95%;
    user-select: none;
    -webkit-user-drag: none;
    margin-top: auto;
    position: relative;
    z-index: 2;
    animation: img-me 6s ease-in-out ;
    opacity: 100%;
}

@keyframes img-me{
    0%{
        transform: translateX(0);
        opacity: 0;
    }
    35%{
        transform: translateX(0%);
        opacity: 30%;
    }
    40%{
        opacity: 40%;
    }
    70%{
        opacity: 70%;
    }
    100%{
    transform: translateX(0);
    opacity: 100%;
    }
}


.scroll-down{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
}

.mouse{
    height: 5rem;
    width:2.5rem;
    border: 2px solid rgba(0,0,0,0%);
    border-radius: 2rem;
    display:flex;
    box-shadow: 0 0 10px #2c98f000;

}

.mouse span{
    display: block;
    width:1rem;
    height: 1rem;
    background-color: rgba(0,0,0,0%);
    border-radius: 50%;
    margin: auto;
    animation: move-wheel 1s linear infinite;
    
}

.arrow span{
    display: block;
    width:1rem;
    height:1rem;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(45deg);
    animation: arrow-down 1s linear infinite;
    
}

@keyframes move-wheel {
    0% {
        opacity: 1;
        transform: translateY(-1rem);
    }
    100% {
        opacity: 0;
        transform: translateY(2rem);
    }
}
@keyframes arrow-down {
    0% {
        opacity: 0;
        
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75
    }
    100% {
        opacity: 1;
        
    }
}

/* About styles */
.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3rem;

}

.heading-group {
    color: var(--dark-color);
    margin-bottom: 5rem;
}

.section-head-small {
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    color: #999;
    letter-spacing: 3px;
    margin-bottom: 1rem;
}

.section-head-large{
    font-size: 1.8rem;
    font-family: var(--heading-font-family);
    text-transform: uppercase;
    letter-spacing: .5rem;
    animation: ab 1s linear infinite;
}

@keyframes ab{
    0%{
        transform: translateY(0%);

    }
    20%{
        transform: translateY(10%);
    }
    40%{
        transform: translateY(0%);
    }
    60%{
        transform: translateY(-10%);
    }
    80%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(0%);
        color: rgba(255,0,0,50%);
    }
}



.intro-description p:not(:last-child) {
    margin-bottom: 2rem;
}

.intro-description p span {
    font-family: var(--heading-font-family);
    font-weight: bold;
    color: var(--dark-color);
    letter-spacing: 1px;
}

.call-to-action {
    background-color: var(--yellow-color);
    margin-top: 5rem;
    padding: 3rem;
    color: var(--dark-color);
}

.call-to-action p{
    font-size: 2.4rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.btn {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem 3rem;
    display: inline-block;
    transition: background-color .5s;
}

.cta-btn {
    color: #2c98f0;
    border-radius: 50%;
    box-shadow: 0 0 10px #2c98f0;

}

.cta-btn:hover {
    color: var(--light-color);
    background-color: var(--dark-color);
    transition: .6s;
}

#WA2{
     border-radius: 50%;

}

#IR{
    opacity: 70%;
}

@media only screen and (max-width: 600px){
    #IR{
        width: 90%;
        height: 90%;
    }
}

/* My expertise */
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2.5rem;
}

.my-expertise .grid-item {
    background-color: #fff;
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.1);
    padding: 2rem;
    border-bottom: 3px solid transparent;
    position: relative;
}

.grid-item.orange {
    border-bottom-color: var(--orange-color);
}

.grid-item.blue {
    border-bottom-color: var(--blue-color);
}

.grid-item.yellow {
    border-bottom-color: var(--yellow-color);
}
.grid-item.purple {
    border-bottom-color: var(--purple-color);
}

.grid-item.dark-blue {
    border-bottom-color: var(--dark-blue-color);
}

.grid-item.green{
    border-bottom-color: var(--green-color);
}

.grid-item.dark-orange{
    border-bottom-color: var(--dark-orange-color);
}

.grid-item.light-pink{
    border-bottom-color: var(--light-pink-color);
}

.orange ion-icon{
    color: var(--orange-color);
}
.blue ion-icon{
    color: var(--blue-color);
}
.yellow ion-icon{
    color: var(--yellow-color);
}

.item-icon{
    display: block;
    font-size: 3.6rem;
    margin-bottom: 1rem;
}

.item-heading{
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.margin-top {
    margin-top: 5rem;
}

.item-skill {
    width: calc(100% + 1rem);
    height: 5rem;
    position: absolute;
    top: 1rem;
    left: -1rem;
    text-align: center;
}

.item-skill::before{
    content: "";
    position: absolute;
    top: -1rem;
    left: -.99rem;
    border: 1rem solid transparent;
    z-index: -1;
}

.orange .item-skill{
    background-color: var(--orange-color);
}
.orange .item-skill::before{
    border-right-color: #8d2e2e;
}

.blue .item-skill{
    background-color: var(--blue-color);
}
.blue .item-skill::before{
    border-right-color: #165a92;
}

.yellow .item-skill{
    background-color: var(--yellow-color);
}
.yellow .item-skill::before{
    border-right-color: #a17c2a;
}

.purple .item-skill{
    background-color: var(--purple-color);
}
.purple .item-skill::before{
    border-right-color: #5e2a68;
}

.dark-blue .item-skill{
    background-color: var(--dark-blue-color);
}
.dark-blue .item-skill::before{
    border-right-color: #182149;
}

.green .item-skill{
    background-color: var(--green-color);
}
.green .item-skill::before{
    border-right-color: #5a975a
}

.dark-orange .item-skill{
    background-color: var(--dark-orange-color);
}
.dark-orange .item-skill::before{
    border-right-color: #a15900;
}

.light-pink .item-skill{
    background-color: var(--light-pink-color);
}
.light-pink .item-skill::before{
    border-right-color: #a85656;
}

.skill-name{
    font-size: 2rem;
    text-transform: uppercase;
    color:var(--light-color);
    font-weight: 400;
    letter-spacing: 1px;
}

.skill-description{
    margin-top: 5rem;
    padding: 3rem 0;
    line-height: 2;
}

/* Motto styles */
.motto {
    height: 35vh;
    background: url("./images/section_background.jpg") bottom/cover;
    position:  relative;
    z-index: 1;
}

.motto::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.motto .container{
    height: 100%;
    display: flex;
}

.quote-wrapper {
    margin: auto;
    max-width: 50rem;
    text-align: center;
    color: var(--light-color);

}

.quote {
    font-size: 2rem;
    font-weight: 300;
    padding: .5rem;
    position: relative;
}

.quote::before,
.quote::after{
    position: absolute;
    font-size: 15rem;
    width: 5rem;
    height: 5rem;
    font-family: sans-serif;
}

.quote::before{
    content: open-quote;
    top: -5rem;
    left: -5rem;
}

.quote::after{
    content: close-quote;
    bottom: -.5rem;
    right: -5rem;
}

.quote-by {
    display: block;
    text-align: right;
    margin-top: 2rem;
}

/* Work experience */
.timeline{
    position: relative;
}

.timeline::before,
.timeline::after,
.timeline-item::before,
.timeline-item::after{
    content: "";
    position: absolute;
}

.timeline::before {
    width: .5rem;
    height: 100%;
    background-color: var(--light-gray-color);
    border-radius: 1rem;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.timeline::after {
    width: 2rem;
    height: 2rem;
    border: .5rem solid var(--light-gray-color);
    border-radius: 50%;
    bottom: -2.5rem;
    left: -1.2rem;
}

.timeline-item{
    background-color: var(--light-gray-color);
    padding:2.2rem;
    margin-left:3.5rem;
    margin-bottom: 2rem;
    position: relative;
}

.timeline-item::before{
    top: .5rem;
    left: -2rem;
    border: 1rem solid transparent;
    border-right-color: var(--light-gray-color);
}

.timeline-item::after{
    width: 3rem;
    height: 3rem;
    background-color: var(--light-gray-color);
    border-radius: 50%;
    top: -.3px;
    left: -4.7rem;
}

.timeline-heading{
    margin-bottom: 2rem;
}
.timeline-entry-name{
    display: inline-block;
    margin-right: 1rem;
    font-size: 2rem;
    font-weight:400;
    left: 1px;
    color: var(--dark-color);
    text-transform: uppercase;
}

/* My porfolio */
.my-portfolio .grid{
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
}

.my-portfolio .grid-item{
    min-height: 60rem;
    position: relative;
    overflow: hidden;
}

.portfolio-item-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.portfolio-item-info{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    opacity: 1;
    color: var(--light-color);
    position: absolute;
    top: 0;
    left: 0;
    padding: 4rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity .5s;
}

.portfolio-item-info{
    opacity: 1;
}

.project-name{
    font-size: 2rem;
    letter-spacing: 1px;
    margin-bottom: .7rem;
    transform: translateY(-2rem);
    transition: transform .5s;
}

.project-name span {
    font-weight: 300;
    opacity: .5;
}

.project-type{
    font-size: 1.3rem;
    opacity: .5;
    transform: translateY(2rem);
    transition: transform .5s;
}



.portfolio-item-info:hover .project-name,
.portfolio-item-info:hover .project-type {
    transform: translateY(0);
}

.info-cta{
    margin-top: auto;
}

.info-btn{
    color: var(--light-color);
    border: 1px solid var(--light-color);
}
.info-btn:hover{
    color: var(--dark-color);
    background-color: rgba(255,255,255,.7);
    border-color: transparent;
}
#down, #down2, #down3{
    animation: down 1s linear infinite;
}

@keyframes down{
    0%{
        opacity: 1;
    }
    100%{
       opacity: 0;
    }
}

#down:hover, #down2:hover, #down3:hover{
    color: var(--dark-color);
    background-color: rgba(255,255,255,.7);
    border-color: transparent;
}
.btn-blue{
    background-color: var(--blue-color);
    color: var(--light-color);
}

.btn-blue:hover{
    background-color: #2977b1;
}

.load-more .btn{
    margin-top: 2.5rem;
    padding: 1rem 5rem;
}

.contact-info-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.contact-info{
    flex-basis: 45%;
}

.contact-info-item{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}

.info-item-icon{
    background-color: var(--light-gray-color);
    display: flex;
    height: 8rem;
    width: 10rem;
    font-size: 5rem;
    color: var(--blue-color);
    border-radius: 3px;
}

.info-item-icon ion-icon{
    margin: auto;
}

.data-wrapper{
    margin-left: 2rem;
}

.info-item-data{
    display: block;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 600;
    color: var(--blue-color);
    
}

.kiko{
    border-radius: var(--body-font-size);
    border: #262626;
    
}

.port{
    align-items: center;
    border-radius: 50%;
}

#mail{
    color: red;
    font-weight: 600;
}

#linked{
    color: #2c98f0;
    font-weight: 600;
}

#INPUTWAL {
    color: limegreen;
    font-weight: 500;

}

#FT{
    color: black;
    font-weight: 600;
}

.contact-form{
    flex: 1;
}

.contact-form .input,
.contact-form textarea {
    width: 100%;
    background-color: var(--light-gray-color);
    font-family: var(--body-font-family);
    color:var(--body-font-color);
    font-size: 1.4rem;
    letter-spacing: 1px;
    border: none;
    border-radius: 3px;
    margin-bottom: 2rem;
    padding: 1rem;
}
.contact-form .captcha{
    border: none;
    border-radius: 3px;
    margin-bottom: 2rem;
}
.contact-form .btn{
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Media Queries */

@media screen and (max-width: 1030px) {
    .nav{
        transform: translateX(-27rem);
        transition: transform .5s;
    }


    .is-open .nav{
        transform: translateX(0);
    }

    .hamburger-menu{
        display:flex;
        width: 5rem;
        height: 5rem;
        background-color: var(--dark-color);
        color: var(--light-color);
        position: fixed;
        top: 0;
        left: 0;
        font-size: 2.6rem;
        cursor: pointer;
        transition: transform .5s;
        z-index: 2000;
    }

    .hamburger-menu ion-icon{
        margin: auto;
        border-radius: 50%;
    }

    .open{
        border-radius: 50%;
    }

    .close{
        display:none;
        border-radius: 50%;
    }

    .is-open .hamburger-menu{
        transform: translateX(21rem);
        border-radius: 50%;
    }

    .is-open .close{
        display:block;
        border-radius: 50%;
    }

    .is-open .open{
        display:none;
        border-radius: 50%;
    }

    .main{
        width: 100%;
        transform: initial;
    }

    .hero{
        height: 80vh;
    }

    .hero::after{
        content: "";
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,.8);
        z-index: 999;
        opacity: 0;
        transform: scale(0);
        transition: opacity .5s;
    }

    .is-open .hero::after{
        opacity: 1;
        transform: scale(1);
    }

    .name-heeading{
        font-size: 25vw;
    }

    .portfolio-item-info{
        background-color: rgba(0,0,0,.5);
        opacity: 1;
    }

    .project-name{
        transform: translateY(0);
    }

    .project-type{
        transform: translateY(0);
    }
    
    .info-btn:first-child{
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .grid,
    .my-portfolio .grid{
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }

}

@media screen and (max-width: 600px) {
    .hero{
        height: 50rem;
    }

    .call-to-action p{
        font-size: 2rem;
    }

    .motto{
        height: 60vh;
    }

    .quote::before,
    .quote::after{
        font-size:10rem;
    }

    .quote::before{
        top: -4rem;
        left: -3rem;
    }
    
    .quote::after{
        bottom: -3rem;
        right: -3rem;
    }

    .quote-by{
        margin-top: 4rem;
    }

    .timeline-entry-name{
        display: block;
        font-size: 1.6rem;
    }

    .timeline-heading span{
        font-size: 1.4rem;
    }
}
@media screen and (orientation: landscape) and (max-width: 1000px) {
    .nav {
        overflow-y: scroll;
    }

    .hero {
        height: initial;
        min-height: 100vh;
    }
}
@media screen and (min-width: 1925px) {
    html{
        font-size: 75%;
    }
}
